@import "./global/header.css";
@import "./global/global.css";

@import "./utilidades/cores.css";

/* Home */
@import "../css/home/introducao.css";
@import "./home/novidades.css";
@import "./home/busca.css";

/* utilidades */

@import "./utilidades/tipografia.css";
@import "./utilidades/componentes.css";
