body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  color: #004164;
}

h1,
ul,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

.header {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  column-gap: 600px;
  box-sizing: border-box;
  padding: 30px 20px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 120px;
}

svg {
  fill: #004164;
}

svg:hover {
  fill: #ff5c00;
}

.header-bg {
  background-color: #ffffff;
  filter: drop-shadow(0px 3px 10px hsla(0, 0%, 0%, 0.09));
}

@media (max-width: 1000px) {
  .header {
    justify-content: space-between;
    column-gap: 0px;
  }
}

@media (max-width: 600px) {
  .header {
    margin-bottom: 40px;
  }
}

.intro-menu {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 0px 20px;
  box-sizing: border-box;
  max-width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 140px;
}

.intro-menu-1 {
  text-align: right;
  align-self: center;
}

.intro-menu-2 {
  align-self: center;
}

.intro-menu ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.intro-menu li {
  margin-bottom: 40px;
  font-size: 18px;
  text-transform: uppercase;
  color: #004164;
}

.intro-menu li:hover {
  color: #ff5c00;
}

.image {
  justify-self: center;
}

/*animação de rotação na imagem*/

/*.image {
  -webkit-animation: spin 6s linear infinite;
  -moz-animation: spin 6s linear infinite;
  animation: spin 6s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}*/

@media (max-width: 1000px) {
  .intro-menu li {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .intro-menu {
    margin-bottom: 60px;
  }
}

@media (max-width: 600px) {
  .intro-menu {
    grid-template-columns: 1fr 1fr;
    gap: 30px 40px;
  }

  .intro-menu li {
    font-size: 14px;
  }
  .intro-menu-2 {
    grid-column: 2;
  }

  .intro-menu-1 {
    grid-row: 2;
  }

  .image {
    grid-column: 1 / -1;
  }
}

.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 700px;
  margin-bottom: 120px;
}

.intro h1 {
  font-size: 64px;
  line-height: 1.12;
  text-transform: uppercase;
}

.intro p {
  font-size: 24px;
  line-height: 1.3;
}

.intro span {
  color: #265a5d;
}

.intro-titulo {
  grid-row: 1 / -1;
  grid-column: 1 / 3;
}

.intro-texto {
  grid-column: 2;
  align-self: end;
}

@media (max-width: 1000px) {
  .intro {
    grid-template-columns: 1fr;
    text-align: center;
    max-width: 400px;
    gap: 24px 0px;
  }

  .intro h1 {
    font-size: 48px;
  }

  .intro p {
    font-size: 18px;
  }
}

@media (max-width: 400px) {
  .intro h1 {
    font-size: 36px;
  }
}
