.container {
  box-sizing: border-box;
  max-width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  display: block;
  font-family: "Manrope";
  font-size: 1em;
  font-weight: 600;
  line-height: 1;
  color: var(--cor-p4);
  text-transform: uppercase;
  position: relative;
  padding: 6px 4px;
  box-sizing: content-box;
}

.button::after {
  content: "";
  background-color: var(--cor-p4);
  width: 94%;
  height: 2px;
  position: absolute;
  left: 4px;
  top: 90%;
}
