.font-h1 {
  font: 700 4em/1.12 "Manrope", sans-serif;
  text-transform: uppercase;
}

.font-h2 {
  font: 700 2.5em/1.8 "Manrope", sans-serif;
  text-transform: uppercase;
}

.font-h3 {
  font: 700 2em/1.25 "Manrope", sans-serif;
  text-transform: uppercase;
}

.font-enfase {
  font: 700 2.25em/1.11 "Manrope", sans-serif;
  text-transform: uppercase;
}

.font-m {
  font: 700 1.5em/1.5 "Manrope", sans-serif;
  text-transform: uppercase;
}

.font-sub {
  font: 600 1em/1 "Manrope", sans-serif;
  text-transform: uppercase;
}

.font-p {
  font: 400 1.5em/1.5 "Open Sans", sans-serif;
}

.font-pp {
  font: 400 1.25em/1.5 "Open Sans", sans-serif;
}
