.header {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  column-gap: 600px;
  box-sizing: border-box;
  padding: 30px 20px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 120px;
}

svg {
  fill: var(--cor-p3);
}

svg:hover {
  fill: var(--cor-p2);
}

.header-bg {
  background-color: #ffffff;
  filter: drop-shadow(0px 3px 10px hsla(0, 0%, 0%, 0.09));
}

@media (max-width: 1000px) {
  .header {
    justify-content: space-between;
    column-gap: 0px;
  }
}

@media (max-width: 600px) {
  .header {
    margin-bottom: 40px;
  }
}
