.clube-vynil-bg {
  background-color: var(--cor-p1);
  box-shadow: inset 0 120px var(--cor-p3);
  padding-bottom: 240px;
}

.clube-vynil {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  align-items: end;
  justify-content: center;
  justify-items: center;
  gap: 0 60px;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

.clube-vynil h2 {
  margin-bottom: 32px;
}

.clube-vynil-imagem {
  height: 100%;
  margin-top: -120px;
}

.clube-vynil img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.clube-vynil-conteudo {
  padding-top: 260px;
}

@media (max-width: 1200px) {
  .clube-vynil h2 {
    font-size: 48px !important;
  }
}

@media (max-width: 800px) {
  .clube-vynil-conteudo {
    padding-top: 200px;
  }
  .clube-vynil {
    gap: 0 40px;
    padding: 0 60px;
  }
  .clube-vynil-bg {
    padding-bottom: 160px;
  }
  .clube-vynil p {
    font-size: 1.3em !important;
  }

  .clube-vynil h2 {
    font-size: 3em !important;
    margin-bottom: 16px;
  }
}

@media (max-width: 600px) {
  .clube-vynil-conteudo {
    padding-top: 40px;
  }
  .clube-vynil {
    grid-template-columns: 1fr;
    padding: 0 28px;
    box-shadow: inset 0 0px var(--cor-p3);
  }
  .clube-vynil-bg {
    padding-bottom: 120px;
  }
  .clube-vynil p {
    font-size: 1em !important;
    text-align: center;
  }

  .clube-vynil h2 {
    font-size: 2em !important;
    margin-bottom: 16px;
    text-align: center;
  }
  .clube-vynil img {
    height: 260px;
  }
  .clube-vynil-imagem {
    margin-top: 0px;
  }
}
