.novidades-bg {
  background-color: var(--cor-p1);
}

.novidades-bg h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 96px 0px;
}

/* .novidades-container {
  overflow-x: auto;
} */

.novidades-container {
  display: flex;
  max-width: 100%;
  padding: 0 20px 20px 20px;
  overflow-x: auto;
  gap: 0px 100px;
  padding-bottom: 96px;
}

.novidades-container li {
  min-width: 400px;
}

.novidades-container img {
  width: 100%;
  object-fit: cover;
  padding-bottom: 10px;
}

.novidades-container div {
  display: flex;
  justify-content: space-between;
}

.novidades-container div p,
.novidades-container div span {
  padding: 6px 4px;
}

.button:hover {
  color: var(--cor-p2);
}
