.novidades-bg {
  background-color: var(--cor-p1);
}

.novidades-bg h1 {
  display: block;
  text-align: center;
  padding-top: 96px;
  padding-bottom: 96px;
}

.novidades-container img {
  max-width: 100%;
}

.novidades-container {
  display: flex;
  gap: 0px 60px;
  overflow-x: auto;
}
